<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact App</title>
    <link rel="stylesheet" href="assets/bootstrap.css">
    <link rel="stylesheet" href="assets/style.css">
        <link rel="stylesheet" href="../assets/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron well text-center">
      <h1>Contact us</h1>
      <p>Please send me all your queries, questions and messages.</p>
      <p>I'll receive them personally and will try to respond within 24/7</p>
    </div>
        <form action="/" method="post" class="center-block">

      <div class="form-group"> <label class="text-left">Your name:</label><br>
        <input type="text" name="name" placeholder="Enter your name" required>
      </div>
        <div class="form-group">  <label class="text-left">Your Email:</label><br>
          <input type="email" name="email" placeholder="Enter your Email address" required>
        </div>
          <div class="form-group">  <label class="text-left">Your Contact:</label><br>
            <input type="number" name="contact" placeholder="Enter your contact:" required>
          </div>


      <div class="form-group">  <label class="text-left">Your Message:</label><br>
        <textarea name="message" placeholder="Type your message..." required></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-width">Send<i class="fa fa-send-o mrgn"></i></button>
        </div>

</form>






  </body>
</html>
