<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Contact App</title>
    <link rel="stylesheet" href="../assets/bootstrap.css">
    <link rel="stylesheet" href="../assets/style.css">
        <link rel="stylesheet" href="../assets/font-awesome.min.css">
  </head>
  <body>
      <div class="jumbotron text-center">
        <h1 class="sign text-success"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></h1>
        <h1>Thank you!</h1>
        <h3>We will soon be in contact with you.</h3>
          <a href="/"><input type="button" name="" class="btn btn-primary" value="Send another message"></a>
      </div>
  </body>
</html>
